[project]
name = "ferry-planner"
version = "0.1.0"
description = "BC Ferries sailing planner website server"
readme = "readme.md"
requires-python = ">=3.11,<3.14"
dependencies = [
    "beautifulsoup4~=4.14.2",
    "fastapi~=0.128.0",
    "httpx~=0.28.1",
    "jinja2~=3.1.5",
    "pydantic-settings~=2.12.0",
    "pydantic>=2.7.0,<3.0.0",
    "tzdata~=2025.1",
    "uvicorn[standard]~=0.40.0",
]

[dependency-groups]
dev = [
    "prek~=0.2.27",
    "ty~=0.0.2",
]

[build-system]
requires = ["uv_build>=0.9.22"]
build-backend = "uv_build"

[tool.ruff]
src = ["src"]
line-length = 119
target-version = "py311"

[tool.ruff.lint]
select = ["ALL"]
ignore = ["A", "D1", "TD003"]
