[project]
name = "ferry-planner"
version = "0.1.0"
description = "BC Ferries sailing planner website server"
readme = "readme.md"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4~=4.14.2",
    "fastapi~=0.123.0",
    "httpx~=0.28.1",
    "jinja2~=3.1.5",
    "pydantic-settings~=2.12.0",
    "pydantic>=2.7.0,<3.0.0",
    "tzdata~=2025.1",
    "uvicorn[standard]~=0.38.0",
]

[dependency-groups]
dev = [
    "pre-commit~=4.5.0",
]

[build-system]
requires = ["setuptools>=61"]
build-backend = "setuptools.build_meta"

[tool.ruff]
src = ["src"]
line-length = 119
target-version = "py311"

[tool.ruff.lint]
select = ["ALL"]
ignore = ["A", "D1", "T20", "TD003"]

[tool.pyright]
venvPath = "."
venv = ".venv"
