<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}Ferry Planner{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
      content="Easily plan your coastal BC trip. Find the best routes and times to travel, even with multiple ferry connections. Get up-to-date info for any location in BC!" />
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/style-out.css" />
    <link rel="preload" href="/static/switch.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="/static/notifications.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
      <link rel="stylesheet" href="/static/switch.css" />
      <link rel="stylesheet" href="/static/notifications.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </noscript>
    <script defer src="/a/script.js" data-website-id="ed4abbf7-badc-42e9-a74b-88e86e0037cb"></script>
    {% endblock %}
  </head>
  <body class="background-image min-w-min min-h-screen bg-white">
    <div class="top-0 drop-shadow-lg select-none sticky z-10">
      <div class="w-full overflow-hidden">
        {% block navbar %}
        <div class="text-black bg-white no-print flex items-center">
          <button id="menu-button"
            class="md:hidden bg-gray-100 focus:font-bold hover:font-bold font-serif text-2xl cursor-pointer align-middle text-center px-2 border-0"
            onclick="menuToggle()"
          >
            &#8801
          </button>
          <a tabindex="-1" href="/#" class="align-middle text-lg uppercase px-4">
            <b>Ferry Planner</b>
          </a>
          <nav class="hidden md:flex">
            <a href="/#" class="p-2 hover:bg-gray-200">
              <span class="icon"><i class="fa fa-home"></i></span>
              Home
            </a>
            <a href="/about" class="p-2 hover:bg-gray-200">
              <span class="icon"><i class="fa fa-info-circle"></i></span>
              About
            </a>
            <a href="/docs" class="p-2 hover:bg-gray-200">
              <span class="icon"><i class="fa fa-code"></i></span>
              API
            </a>
            <a href="https://github.com/lemonyte/ferry-planner" class="p-2 hover:bg-gray-200">
              <span class="icon"><i class="fa fa-github"></i></span>
              GitHub
            </a>
          </nav>
        </div>
        <nav id="menu" class="w-52 fixed z-10 overflow-auto bg-gray-100 no-print text-lg shadow-lg h-auto flex flex-col" hidden>
          <a href="/#" class="w-full p-2 hover:bg-gray-200">
            <span class="icon"><i class="fa fa-home"></i></span>
            Home
          </a>
          <a href="/about" class="w-full p-2 hover:bg-gray-200">
            <span class="icon"><i class="fa fa-info-circle"></i></span>
            About
          </a>
          <a href="/docs" class="w-full p-2 hover:bg-gray-200">
            <span class="icon"><i class="fa fa-code"></i></span>
            API
          </a>
          <a href="https://github.com/lemonyte/ferry-planner" class="w-full p-2 hover:bg-gray-200">
            <span class="icon"><i class="fa fa-github"></i></span>
            GitHub
          </a>
        </nav>
        {% endblock %}
      </div>
    </div>

    <main id="content" class="min-width-full max-w-screen-xl min-height-screen m-auto md:mt-12">
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    {% block scripts %}
    <script async src="/static/notifications.js"></script>
    <script>
      const menuButton = document.getElementById("menu-button");
      const menu = document.getElementById("menu");
      const menuToggle = () => {
        if (menu.hidden) {
          menuOpen();
        } else {
          menuClose();
        }
      };
      const menuOpen = () => {
        menu.hidden = false;
        menuButton.classList.add("pressed");
      };
      const menuClose = () => {
        menu.hidden = true;
        menuButton.classList.remove("pressed");
      };
      window.addEventListener("click", (event) => {
        if (!menuButton.contains(event.target)) {
          menuClose();
        }
      });
    </script>
    <!-- 100% privacy-first analytics -->
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade"/></noscript>
    {% endblock %}
  </body>
</html>
