{% extends "base.html" %}

{% block content %}

<!-- <div id="welcome" class="w3-card-4 w3-white no-print w3-margin-bottom">
  <h2 class="w3-center w3-bar w3-indigo">Welcome to the Ferry Planner</h2>
  <div class="w3-container w3-padding">
    <span>On this website you can find the best route and time for your BC trip</span>
    <a id="welcome-more" class="w3-border-bottom w3-text-gray w3-small" onclick="welcomeClick();"
      title="Click to see more information">see more</a>
    <br />
    <span id="welcome-more-info" hidden>
      All possible routes are calculated on specified date taking into account actual BC Ferries schedules.
      For each route detailed itinerary is provided showing times for each trip leg, such as departure and arrival
      times, any free time (waiting for sailing), time to arrive to ferry terminal, and more.
      Itinerary can be printed and shared. You can also see the route map and check actual ferry schedules for each
      sailing.
    </span>
  </div>
</div> -->

<div id="input-form" class="w3-white w3-card w3-round w3-margin-small w3-padding-small">
  <!-- <div class="w3-padding-small w3-xlarge w3-center">
    Search for routes
  </div> -->
  <div class="w3-round-medium" style="display: flex; flex-direction: row; gap: 10px;">
    <input class="w3-border w3-padding-small w3-round-medium" style="flex-grow: 1;" type="text" id="origin"
      list="locations" placeholder="Select start location" title="Start location" required />
    <button class="w3-button w3-border w3-round-medium w3-padding" id="swap" onclick="exports.swap();">
      <span class="icon"><i class="fa fa-exchange"></i></span>
    </button>
    <input class="w3-padding-small w3-round-medium w3-border" type="text" id="destination" list="locations"
      placeholder="Select destination" title="Destination location" required />
    <input class="w3-padding-small w3-round-medium w3-border" style="width: 9em;" type="date" id="date"
      title="Travel date" />
    <button class="w3-button w3-indigo w3-border w3-round-medium w3-padding" id="submit" onclick="exports.submit();">
      Search
    </button>
    <button class="w3-button w3-border w3-round-medium w3-padding" onclick="exports.toggleShow('options');"
      title="Additional options">
      Options
    </button>
  </div>
  <div id="options" style="margin-top: 10px;" hidden>
    <div class="w3-border w3-padding w3-round-medium">
      <div class="w3-cell-middle">
        <input class="w3-check" type="radio" id="reservation" name="res-type" checked="true" />
        <label>Assume ferry reservation</label>
      </div>
      <div class="w3-cell-middle">
        <input class="w3-check" type="radio" id="assured" name="res-type" />
        <label>Assured loading</label>
      </div>
      <div class="w3-cell-middle">
        <input class="w3-check" type="radio" id="hostled" name="res-type" />
        <label>Hostled vehicle</label>
      </div>
      <div class="w3-cell-middle w3-margin-top">
        <input class="w3-check" type="checkbox" id="show_all" />
        <label>Show all possible routes</label>
      </div>
      <div class="w3-cell-middle w3-margin-top">
        Arrive at terminal
        <input class="w3-padding-small w3-border-0 w3-border-bottom" type="number" id="buffer" min="0" max="60"
          value="15" />
        minutes in advance
      </div>
    </div>
  </div>

  <!-- <div class="w3-padding-small w3-xlarge w3-center">
    <img src="/static/bc-ferries-1920.jpg" class="w3-round-large w3-display-middle w3-opacity"
    style="width: 100%; height: 100vh; z-index: -1; overflow: hidden; object-fit: cover;">
  </div> -->
</div>

<div id="message-card" class="w3-white w3-card w3-round" hidden>
  <b><span id="message-heading"></span></b><span id="message-content"></span>
</div>

<div id="loading-spinner" class="w3-center w3-panel w3-card w3-padding-16 w3-margin w3-white w3-round" hidden>
  <span class="w3-center w3-cell-middle">Calculating routes, this may take a few minutes. Please wait...</span>
  <!-- <i class="fa fa-circle-o-notch w3-spin w3-cell-middle" style="font-size: 32px;"></i> -->
  <br /><i class="fa fa-spinner w3-spin w3-cell-middle" style="font-size: 32px;"></i>
</div>


<div id="routes-card" class="w3-white w3-card" hidden>
  <h3 id="routes-card-header" class="w3-center w3-indigo" style="margin: 0;">Available Routes</h3>

  <div class="w3-bar w3-padding no-print" style="width: 100%;">
    <div class="w3-left">
      <a id="back-home" href="#" class="w3-button w3-left w3-padding-small w3-border w3-round-medium w3-margin-right">
        <span class="icon"><i class="fa fa-angle-double-left"></i></span>Home</a>
    </div>
    <div class="w3-right">
      <span class="w3-cell-middle">Table</span>
      <label class="switch w3-cell-middle">
        <input id="timeline-switch" class="w3-input" type="checkbox" />
        <span class="slider round"></span>
      </label>
      <span class="w3-cell-middle">Timeline</span>
    </div>
  </div>

  <div class="">
    <!-- <div class="w3-bar w3-blue">
      <button class="w3-bar-item w3-button" onclick="showTab('tab-routes-table');">Table</button>
      <button class="w3-bar-item w3-button" onclick="showTab('tab-routes-timeline');">Timeline</button>
    </div> -->

    <div id="tab-routes-table" class="tab-content">
      <div id="routes" class="fp-table-container">
        <!-- <div id="routes-header-container" class="w3-center w3-padding-small">
          <div id="routes-details"></div>
          <div id="routes-via" class="w3-small"></div>
        </div> -->
        <table class="w3-table w3-striped fp-table">
          <thead>
            <tr id="tab-routes-table-header-row" class="w3-light-grey w3-center"></tr>
          </thead>
          <tbody id="routes-table"></tbody>
        </table>
      </div>
    </div>

    <div id="tab-routes-timeline" class="tab-content" style="user-select: none;" hidden>
      <div class="w3-light-gray w3-center w3-padding-small">
        <b>Timeline</b>
      </div>
      <div class="w3-bar">
        <label class="w3-bar-item w3-padding-small w3-cell-middle">Sort by:</label>
        <select class="w3-select w3-bar-item w3-padding-small w3-cell-middle w3-border-bottom"
          id="sort-option"></select>
        <label class="w3-bar-item w3-padding-small">Color by:</label>
        <select class="w3-select w3-bar-item w3-padding-small w3-border-bottom" id="color-option"
          onchange="exports.updateTimelines();">
          <option value="activity">Activity</option>
          <option value="region">Region</option>
        </select>
        <div style="font-size: 75%;">
          <div id="timeline-legend" class="w3-bar-item w3-padding-small w3-right"></div>
        </div>
      </div>
      <div id="timeline" class="w3-padding-small"></div>
    </div>
  </div>
</div>

<div id="schedule-card" class="w3-white w3-card" hidden>
  <h3 id="schedule-header" class="w3-center w3-indigo" style="margin: 0;"></h3>
  <div id="schedule" class="">
    <div id="schedule-header-container" class="w3-center w3-margin-top w3-padding-small">
      <div id="schedule-details"></div>
      <div id="schedule-via" class="w3-small w3-padding"></div>
      <div class="w3-bar" style="width: 100%;">
        <div class="w3-left">
          <a id="schedule-back" href="#routes"
            class="w3-button w3-left w3-padding-small w3-border w3-round-medium w3-margin-small">
            <span class="icon"><i class="fa fa-angle-double-left"></i></span>Routes</a>
        </div>
        <div class="w3-right">
          <button onclick="exports.onPrint('schedule-card');"
            class="w3-button w3-right w3-padding-small w3-border w3-round-medium w3-margin-small no-print">
            <span class="icon"><i class="fa fa-print"></i></span>Print</button>
          <a id="schedule-map" target="_blank"
            class="w3-button w3-right w3-padding-small w3-border w3-round-medium w3-margin-small">
            <span class="icon"><i class="fa fa-map"></i></span>Map</a>
          <button id="share-button" onclick="exports.onShare();"
            class="w3-button w3-right w3-padding-small w3-border w3-round-medium w3-margin-small no-print">
            <span class="icon"><i class="fa fa-share-alt"></i></span>Share</button>
        </div>
      </div>
    </div>
    <div class="fp-table-container">
      <table class="w3-table w3-striped fp-table">
        <tr class="w3-light-grey w3-center" style="font-size: 100%;">
          <th class="w3-center">Time</th>
          <th class="w3-center" style="width: 95%;">Description</th>
          <th class="w3-center">Duration</th>
        </tr>
        <tbody id="schedule-table"></tbody>
      </table>
    </div>
  </div>
</div>

<div id="tooltip" class="timeline-tooltip" style="position: absolute; opacity: 0;"></div>

<pre id="debug"></pre>

<datalist id="locations"></datalist>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  exports = {};
</script>
<script type="module">
  import { submit, toggleShow, updateTimelines, onPrint, onShare, goto, sortPlans, swap } from "/static/index.js";
  exports.submit = submit;
  exports.toggleShow = toggleShow;
  exports.updateTimelines = updateTimelines;
  exports.onPrint = onPrint;
  exports.onShare = onShare;
  exports.goto = goto;
  exports.sortPlans = sortPlans;
  exports.swap = swap;
</script>
{% endblock %}
