{% extends "base.html" %}

{% block content %}

<!-- <div id="welcome" class="no-print">
  <h2 class="">Welcome to the Ferry Planner</h2>
  <div class="">
    <span>On this website you can find the best route and time for your BC trip</span>
    <a id="welcome-more" class="border-b-2" onclick="welcomeClick();"
      title="Click to see more information">see more</a>
    <br />
    <span id="welcome-more-info" hidden>
      All possible routes are calculated on specified date taking into account actual BC Ferries schedules.
      For each route detailed itinerary is provided showing times for each trip leg, such as departure and arrival
      times, any free time (waiting for sailing), time to arrive to ferry terminal, and more.
      Itinerary can be printed and shared. You can also see the route map and check actual ferry schedules for each
      sailing.
    </span>
  </div>
</div> -->

<form id="input-form" class="bg-white rounded-lg p-2 flex-grow"
  action="javascript:exports.submit();">
  <div class="rounded-md flex flex-col lg:flex-row gap-1 items-center">
    <input autofocus name="origin" class="rounded-md w-full flex-grow border-2 p-2"
      type="text" id="origin" list="locations"
      placeholder="Select start location" title="Start location" required
      value=""/>
    <div class="relative flex flex-grow w-full items-center align-middle">
      <input class="rounded-md border-2 p-2 flex-grow lg:!ml-1"
        type="text" id="destination" list="locations"
        placeholder="Select destination" title="Destination location" required
        value=""/>
      <button tabindex="-1"
        type="button"
        class="hover:bg-gray-100 box-border rounded-full flex justify-center text-center border p-0 w-6 h-6 absolute -top-1 lg:top-1/2 left-1/2 lg:left-0 transform -translate-x-1/2 -translate-y-1/2 rotate-90 lg:rotate-0 bg-white"
        id="swap"
        onclick="exports.swap();"
      >
        <span class="self-center flex"><i class="fa fa-exchange block text-xs"></i></span>
      </button>
    </div>
    <div class="flex md:flex-nowrap flex-row gap-1 w-full">
      <input class="rounded-md border-2 p-2" type="date" id="date" title="Travel date" />
      <button
        type="button"
        class="rounded-md hover:bg-gray-100 border-2 p-2" onclick="exports.toggleShow('options');" title="Additional options">
        Options
      </button>
      <button type="submit" class="flex-grow rounded-md border-2 p-2 bg-indigo-600 hover:bg-indigo-900 w-20 sm:w-36  text-white" id="submit">
        Search
      </button>
    </div>
  </div>
  <div id="options" class="mt-3" hidden>
    <div class="border-2 rounded-md p-2">
      <div>
        <input class="w-6 h-6 relative top-1" type="radio" id="reservation" name="res-type" checked="true" />
        <label>Assume ferry reservation</label>
      </div>
      <div>
        <input class="w-6 h-6 relative top-1" type="radio" id="assured" name="res-type" />
        <label>Assured loading</label>
      </div>
      <div>
        <input class="w-6 h-6 relative top-1" type="radio" id="hostled" name="res-type" />
        <label>Hostled vehicle</label>
      </div>
      <div class="mt-4">
        <input class="w-6 h-6 relative top-1" type="checkbox" id="show_all" />
        <label>Show all possible routes</label>
      </div>
      <div class="mt-4">
        Arrive at terminal
        <input class="w-20 p-1 border-b-2" type="number" id="buffer" min="0" max="60"
          value="15" />
        minutes in advance
      </div>
    </div>
  </div>
</form>

<div id="message-card" class="bg-white rounded-lg" hidden>
  <b><span id="message-heading"></span></b><span id="message-content"></span>
</div>

<div id="loading-spinner" class="bg-white rounded-lg p-4" hidden>
  <i class="fa fa-circle-o-notch animate-spin text-3xl"></i>
  <span>Calculating routes, this may take a few minutes. Please wait...</span>
</div>


<div class="bg-white flex flex-col rounded-lg items-stretch">
  <div id="routes-card" hidden>
    <h3 id="routes-card-header" class="text-center bg-indigo-700 text-white rounded-t-lg">Available Routes</h3>

    <div class="flex flex-row p-2 no-print select-none w-full">
      <div class="flex flex-row gap-2">
        <a id="back-home" href="#" class="hover:bg-gray-200 p-1 border-2 rounded-md" type="button">
          <span class="icon"><i class="fa fa-angle-double-left"></i></span>
          Home
        </a>
      </div>
      <div class="flex flex-row gap-2 ml-auto">
        <span>Table</span>
        <label class="switch">
          <input id="timeline-switch" type="checkbox" />
          <span class="slider round bg-indigo-700"></span>
        </label>
        <span>Timeline</span>
      </div>
    </div>

    <div class="flex flex-col p-2">
      <div id="tab-routes-table" class="tab-content">
        <table class="w-full">
          <thead>
            <tr id="tab-routes-table-header-row" class="bg-indigo-50"></tr>
          </thead>
          <tbody id="routes-table"></tbody>
        </table>
      </div>

      <div id="tab-routes-timeline" class="tab-content select-none" hidden>
        <div>
          <label class="p-1">Sort by:</label>
          <select class="p-1 border-b-2"
            id="sort-option"></select>
          <label class="p-1">Color by:</label>
          <select class="p-1 border-b-2" id="color-option"
            onchange="exports.updateTimelines();">
            <option value="activity">Activity</option>
            <option value="region">Region</option>
          </select>
          <div class="flex flex-row w-full">
            <div id="timeline-legend" class="p-1 ml-auto"></div>
          </div>
        </div>
        <div id="timeline" class="p-1"></div>
      </div>
    </div>
  </div>

  <div id="schedule-card" hidden>
    <h3 id="schedule-header" class="text-center bg-indigo-700 text-white rounded-t-lg"></h3>
    <div id="schedule" class="flex flex-col p-2">
      <div id="schedule-header-container" class="text-center">
        <div class="p-2">
          <div id="schedule-details"></div>
          <div id="schedule-via" class="text-sm"></div>
        </div>
        <div id="schedule-nav-bar" class="flex flex-row select-none no-print w-full p-2">
          <div class="flex flex-row gap-2">
            <a id="schedule-back" href="#routes" class="p-1 border-2 rounded-md hover:bg-gray-200" type="button">
              <span class="icon"><i class="fa fa-angle-double-left"></i></span>
              Routes
            </a>
          </div>
          <div class="flex flex-row gap-2 ml-auto">
            <a id="schedule-map" target="_blank" class="p-1 border-2 rounded-md hover:bg-gray-200" type="button">
              <span class="icon"><i class="fa fa-map"></i></span>
              Map
            </a>
            <button onclick="exports.onPrint('schedule-card');" class="p-1 border-2 rounded-md hover:bg-gray-200">
              <span class="icon"><i class="fa fa-print"></i></span>
              Print
            </button>
            <button id="share-button" onclick="exports.onShare();" class="p-1 border-2 rounded-md hover:bg-gray-200">
              <span class="icon"><i class="fa fa-share-alt"></i></span>
              Share
            </button>
          </div>
        </div>
      </div>
      <table id="schedule-table" class="w-full">
        <thead>
          <tr class="bg-indigo-50">
            <th>Time</th>
            <th class="w-11/12">Description</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody id="schedule-table-body"></tbody>
      </table>
    </div>
  </div>
</div >

<div id="tooltip" class="timeline-tooltip absolute opacity-0 transition-[opacity]" style="transition: opacity 200ms, visibility 1ms;"></div>

<pre id="debug"></pre>

<datalist id="locations"></datalist>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  exports = {};
</script>
<script type="module">
  import { submit, toggleShow, updateTimelines, onPrint, onShare, goto, sortPlans, swap } from "/static/index.js";
  exports.submit = submit;
  exports.toggleShow = toggleShow;
  exports.updateTimelines = updateTimelines;
  exports.onPrint = onPrint;
  exports.onShare = onShare;
  exports.goto = goto;
  exports.sortPlans = sortPlans;
  exports.swap = swap;
</script>
{% endblock %}
