/* prevent form zoom on iOS */
input {
  font-size: 16px;
}

.icon {
  padding-left: 3px;
  padding-right: 5px;
}

.hover-underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

.routes-table-row:hover {
  background-color: skyblue !important;
  cursor: pointer;
}

.selected-row {
  background-color: deepskyblue !important;
}

.timeline-tooltip {
  line-height: 1;
  padding: 8px;
  border-radius: 10px;
  border: 1px;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

/* @media (any-pointer: none) {
  .hide-no-poiner,
  .hide-no-poiner * {
    display: none !important;
  }
} */

@media (max-width: 512px) {
  .m-font75 {
    font-size: 75%;
  }

  .m-hide-c {
    display: none;
  }
}

@media screen {
  .background-image {
    background-image: url(/static/bc-ferries-1920.jpg); 
    background-attachment: fixed; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    min-width: 350px;
  }    
}

.card-header {
  font-size: 24px;
}

.card-header-date {
  font-size: 16px;
}

#menu-button.pressed {
  background-color: #f1f1f1; /* light-gray */
}

input[type=date]{
  height: 42px;
  font-size: 16px;
  vertical-align: middle;
  background-color: white;
  padding: 0.5em;
 }
  

@supports (-webkit-touch-callout: none) {
  input[type=date]{
    height: 40px;
  }
}
