<!DOCTYPE html>
<html>

<head>
  <title>Ferry Planner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="../static/favicon.ico">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body
  style="background-image: url(static/bc-ferries-1920.jpg); background-attachment: fixed; background-size: 100%; background-repeat: no-repeat; background-position: center;">
  <div class="w3-bar w3-card w3-white w3-large no-print">
    <a href="." class="w3-bar-item w3-button w3-blue"><span class="fa fa-home"></span>&nbsp;Home</a>
    <a href="about" class="w3-bar-item w3-button"><span class="fa fa-info-circle"></span>&nbsp;About</a>
    <a href="docs" class="w3-bar-item w3-button"><span class="fa fa-code"></span>&nbsp;API</a>
    <a href="https://github.com/LemonPi314/ferry-planner" class="w3-bar-item w3-button"><span
        class="fa fa-github"></span>&nbsp;GitHub</a>
  </div>

  <div class="w3-container w3-padding" style="max-width: 1200px; margin-left:auto; margin-right: auto;">
    <div id="input-form" class="w3-card-4 w3-white no-print">
      <div class="w3-row w3-padding">
        <div class="w3-third w3-padding-small">
          <input class="w3-input w3-border" type="text" id="origin" list="locations"
            placeholder="Select start location" required>
        </div>
        <div class="w3-third w3-padding-small">
          <input class="w3-input w3-border" type="text" id="destination" list="locations"
            placeholder="Select destination" required>
        </div>
        <div class="w3-third w3-right w3-bar">
          <div class="w3-bar-item w3-padding-small w3-cell-middle">
            <input class="w3-input w3-border" style="min-width:9em;" type="date" id="date">
          </div>
          <div class="w3-bar-item w3-padding-small w3-cell-middle">
            <button class="w3-button w3-blue w3-border w3-round-medium" id="submit" onclick="submit();">Submit</button>
          </div>
          <div class="w3-bar-item w3-padding-small w3-cell-middle w3-right">
            <button class="w3-button w3-border w3-round-medium" onclick="toggleShow('options');">Options</button>
          </div>
        </div>
      </div>
      <div class="w3-row w3-padding" id="options" hidden>
        <div class="w3-cell-middle">
          <input class="w3-check" type="radio" id="reservation" name="res-type" checked="true">
          <label>Assume ferry reservation</label>
        </div>
        <div class="w3-cell-middle">
          <input class="w3-check" type="radio" id="assured" name="res-type">
          <label>Assured loading</label>
        </div>
        <div class="w3-cell-middle">
          <input class="w3-check" type="radio" id="hostled" name="res-type">
          <label>Hostled vehicle</label>
        </div>
        <div class="w3-cell-middle">
          <input class="w3-check" type="checkbox" id="show_all">
          <label>Show all possible routes</label>
        </div>
        <div class="w3-cell-middle">
          <p>Arrive at terminal <input class="w3-padding-small w3-border-0 w3-border-bottom " type="number" id="buffer"
              min="0" max="60" value="15"> minutes in advance</p>
        </div>
      </div>
      <input hidden id="rid" name="selected-route-id" value="">
    </div>

    <div id="loading-spinner" class="w3-center w3-panel w3-white no-print" hidden>
      <p><i class="fa fa-spinner w3-spin" style="font-size:32px"></i></p>
    </div>

    <datalist id="locations"></datalist>

    <div id="message-card" class="w3-center w3-card-4 w3-white" hidden>
      <div class="w3-container w3-padding">
        <span class="w3-large" id="message-heading"></span><span class="" id="message-content"></span>
      </div>
    </div>

    <div id="routes-card" class="w3-card-4 w3-white" hidden>
      <h3 class="w3-center w3-indigo">Available Routes</h3>

      <div class="w3-container w3-padding">
        <div class="w3-bar w3-blue">
          <button class="w3-bar-item w3-button" onclick="showTab('tab-routes-table');">Table</button>
          <button class="w3-bar-item w3-button" onclick="showTab('tab-routes-timeline');">Timeline</button>
        </div>

        <div id="tab-routes-table" class="tab-content">
          <div id="routes" class="">
            <div id="routes-header-container" class="w3-center w3-padding">
              <div id="routes-details" class=""></div>
              <div id="routes-via" class="w3-small"></div>
            </div>
            <table class="w3-table w3-striped">
              <tr class="w3-light-grey w3-large w3-center">
                <th class="w3-center">Route</th>
                <th class="w3-center hover-underline" sort="depart_time">Depart Time</th>
                <th class="w3-center hover-underline" sort="arrive_time">Arrival Time</th>
                <th class="w3-center hover-underline" sort="duration">Total Time</th>
                <th class="w3-center hover-underline" sort="driving_time">Driving Time</th>
                <th class="w3-center hover-underline" sort="driving_distance">Driving Distance</th>
                <th class="w3-center hover-underline" sort="via">Via</th>
              </tr>
              <tbody id="routes-table">

              </tbody>
            </table>
          </div>
        </div>

        <div id="tab-routes-timeline" class="tab-content" style="user-select: none;" hidden>
          <div class="w3-bar">
            <label class="w3-bar-item">Sort by:</label>
            <select class="w3-select w3-bar-item w3-border-bottom" id="sort-option""></select>
            <label class=" w3-bar-item">Color by:</label>
              <select class="w3-select w3-bar-item w3-border-bottom" id="color-option" onchange="updateTimelines();">
                <option value='activity'>Activity</option>
                <option value='region'>Region</option>
              </select>
          </div>
          <div id="timeline-legend" class="w3-right"></div>
          <div id="timeline" class="w3-padding"></div>
        </div>
      </div>
    </div>

    <div id="schedule-card" class="w3-card-4 w3-white" hidden>
      <div id="schedule-print">
        <h3 id="schedule-header" class="w3-center w3-indigo">Itinerary</h3>
        <div id="schedule" class="w3-container w3-padding">
          <div id="schedule-header-container" class="w3-center">
            <div id="schedule-details" class=""></div>
            <div id="schedule-via" class="w3-small"></div>
            <div class="w3-bar w3-padding w3-right">
              <button onclick='javascript:onPrint("schedule-card");'
                class="w3-button w3-right w3-padding-small w3-border w3-round-medium w3-margin-left no-print"><i
                  class="fa fa-print"></i>&nbsp;Print</button>
              <a id='schedule-map' href='' target="_blank"
                class="w3-button w3-right w3-padding-small w3-border w3-round-medium w3-margin-left"><i
                  class="fa fa-map"></i>&nbsp;Map</a>
            </div>
          </div>
          <table class="w3-table w3-striped">
            <tr class="w3-light-grey w3-large w3-center">
              <th class="w3-center">Time</th>
              <th class="w3-center">Description</th>
              <th class="w3-center">Duration</th>
            </tr>
            <tbody id="schedule-table"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <pre id="debug" style="height:100px" hidden></pre>

  <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="../static/d3-timeline.js"></script>
  <script type="text/javascript" src="../static/script.js"></script>
</body>

</html>